<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <title>About Us</title>
    
</head>
<body class="about-us-body">

<div class="container-about-us">
    <h1 class="about-us-h1">About Us</h1>
    
    <!-- Mission Section -->
    <section class="mission">
        <h2 class="about-us-h2">Our Mission</h2>
        <p>Postpartum depression is a serious mental health condition that affects 
        approximately 13% of mothers globally. In developing countries, 
        this number rises to almost 20%. It can have severe consequences for 
        both the mother and the child, impacting bonding, child development, and 
        overall family well-being.This application is designed to support mothers experiencing 
        postpartum depression by providing tools for mood tracking, self-assessment, community support, 
        and access to educational resources.</p>
    </section>
    
    <!-- Team Section -->
    <h2>Meet the Team</h2>
    <section class="team">

        <!-- Team Member 1 -->
        <div class="team-member">
            <img src="../../public/images/safa_picture.jpeg" alt="Team Member 1">
            <h3>Safa Jamal</h3>
            <p>UX Designer + Front-end Developer</p>
            <a href="https://www.linkedin.com/in/safa-jamal/" target="_blank">LinkedIn</a>
        </div>

        <!-- Team Member 2 -->
        <div class="team-member">
            <img src="../../public/images/joey_picture.jpeg" alt="Team Member 2">
            <h3>Joey Kang</h3>
            <p>Backend Developer</p>
            <a href="https://www.linkedin.com/in/joey--kang/" target="_blank">LinkedIn</a>
        </div>

        <!-- Team Member 3 -->
        <div class="team-member">
            <img src="../../public/images/mynah_picture.jpeg" alt="Team Member 3">
            <h3>Mynah Shetty</h3>
            <p>Front-end Developer</p>
            <a href="https://www.linkedin.com/in/mynahshetty/" target="_blank">LinkedIn</a>
        </div>

        <!-- Team Member 4 -->
         <div class="team-member">
            <img src="../../public/images/mira_picture.jpeg" alt="Team Member 3">
            <h3>Mira Nair</h3>
            <p>Front-end Developer</p>
            <a href="https://www.linkedin.com/in/miranair/" target="_blank">LinkedIn</a>
        </div>

        <!-- Team Member 4 -->
        <div class="team-member">
            <img src="../../public/images/katie_picture.jpeg" alt="Team Member 3">
            <h3>Katie Shi</h3>
            <p>Front-end Developer</p>
            <a href="https://www.linkedin.com/in/katie-shi-ab4973185/" target="_blank">LinkedIn</a>
        </div>

    </section>
</div>

</body>
</html>
