<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../index.css">
</head>
<body class="nav-bar-body">
  <header>
    <div class="logo-nav-bar-container">

      <img src="../images/hera_logo.png" alt="hera logo" class="logo" />
      <nav>
        <ul class="nav-links">
          <li><a href="./homepage.html">Home</a></li>
          <li><a href="./about-us.html">About Us</a></li>
          <li><a href="./resources.html">Resources</a></li>
        </ul>
      </nav>
      <div class="profile-icon">
        <a href="./profile.html">
          <img src="../images/profile_icon.png" alt="Profile" />
        </a>
      </div>
    </div>
  </header>
</body>
</html>
