<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../index.css">
    </head>

    <div class="intro">

        <h1>Your Resources</h1>
        <h2>Postpartum Depression</h2>
        <p>
            Hera is dedicated to supporting young mothers experiencing postpartum depression (PPD). Here, you’ll find links to essential information and tools to help you learn and manage your PPD. Learning about mental health, parenting, and the symptoms of PPD is crucial for navigating this journey with confidence and care. Access trusted resources, expert insights, and supportive communities designed to empower you with knowledge and encourage proactive mental health support. Remember, seeking help and staying informed is a powerful step towards nurturing both yourself and your child in this journey.

        </p>

    </div>

    <details>
        <summary>Topic 1</summary>
        <p>
            This is more about topic 1.
        </p>
    </details>
    <details>
        <summary>Topic 2</summary>
        <p>
            This is more about topic 2.
        </p>
    </details>
    <details>
        <summary>Topic 3</summary>
        <p>
            This is more about topic 3.
        </p>
    </details>

    <h3>Learn more about your symptoms!</h3>
    <div class="links">
        <a href="url">link text</a>
        <a href="url">link text</a>
    </div>
    <h3>Mental Health Resources</h3>
    <div class="links">
        <a href="url">link text</a>
        <a href="url">link text</a>
    </div>
    <h3>Parenting with Postpartum Depression</h3>
    <div class="links">
        <a href="url">link text</a>
        <a href="url">link text</a>
    </div>

</html>